<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <br>
        Buenas!!!<br>
        <br>
            Recibimos una hermosa solicitud de prueba gratuita para Make-lo.<br>
            Fue enviada desde la landing page.
        <br>
        Los datos del interesado son:<br>
        <br>
        Nombre: {{ name }}
        <br>
        Correo: {{ email }}
        <br>
        Teléfono: {{ phone }}
        <br>
        Comentario: {{ message }}
        <br>
        <br>
        ¡Saludos!<br>
        <br>
    </body>
</html>
